@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
	box-sizing: border-box;
}

p{
	font-size: 26px;
	color: white;
	word-wrap: break-word;
	padding-left: 10%;
	padding-right:10%;
	font-family: 'Shadows Into Light', cursive;
	text-rendering: auto;
}


body{
	background-color: #A9A9A9;
}

.heading{
	text-align: center;
	color: white;

}
